/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

/* NAV */
.nav {
  position: fixed;
  background: var(--color-dark);
  color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--color-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/*  Intro section  */

.intro {
  position: relative;
}

.section__subtitle--intro {
  display: inline-block;
  color: var(--color-light);
}


/*  My services section  */

.my-services {
  background-color: var(--color-dark);
  background-image: url(../img/services-bg5.jpg);
  background-size: cover;
  /* background-blend-mode: normal; */
  color: var(--color-light);
  text-align: center;
}

.section__title--services {
  color: var(--color-light);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 400px;
  margin: 0 auto 2em;
}


.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
  min-width: 300px;
  --c: 50px;
  --p: 30px;
  --d: 10px;
  display: inline-block;
  padding: var(--p);
  background: radial-gradient(farthest-side at 0 0, #000, #0000) 0 0 / var(--c)
      var(--c),
    radial-gradient(farthest-side at 100% 100%, #000, #0000) 100% 100% /
      var(--c) var(--c),
    linear-gradient(#fff 0 0) 50% 50% / calc(100% - var(--p))
      calc(100% - var(--p)),
    linear-gradient(#0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--p))
      calc(100% - var(--d)),
    linear-gradient(90deg, #0000, #000 25% 75%, #0000) 50% 50% /
      calc(100% - var(--d)) calc(100% - var(--p)),
    radial-gradient(farthest-side at 0 100%, #00000018, #0000)
      calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5) / var(--d) var(--d),
    radial-gradient(farthest-side at 100% 0, #00000018, #0000)
      calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5) / var(--d) var(--d);
  background-repeat: no-repeat;
  clip-path: polygon(
    0 var(--c),
    var(--c) 0,
    100% 0,
    100% calc(100% - var(--c)),
    calc(100% - var(--c)) 100%,
    0 100%
  );
}


/* My Work */

.my-work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.portfolio {
  margin: 0 auto;
  max-width: 1000px;
}

.slider-container {
  display: block;
  margin: 0 auto;
  min-height: 390px;
  height: 50%;
  width: 90%;
  max-width: 700px;
  background: var(--color-accent);
  border-radius: 10px;
  overflow: hidden;
}

.slider-container .slide {
  display: none;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  background: white;
  text-align: center;
  align-items: center;
}

.slider-container .slide img {
  height: auto;
  width: 100%;
}

.slider-container .active {
  display: block;
}

.control-container {
  display: inline-flex;
  width: 100%;
  padding: 5px 10px;
}

.control-container button {
  border: none;
  border-radius: 50%;
  background: white;
  font-size: 20px;
  height: 35px;
  width: 35px;
  outline: none;
}

.control-container button:hover {
  background: #ccc;
}

.slide-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slide-indicator .indicator {
  height: 20px;
  width: 20px;
  transition: background 0.5s ease;
  background: #ccc;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
}

.slide-indicator .indicator:hover {
  background: darkgrey;
}

.slide-indicator .active {
  background: grey;
}

/* footer */

.footer {
  background: #111;
  color: var(--color-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-intro {
  padding: 5em 2em 2em 2em;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item-individual div {
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item-individual a {
  margin-right: 0.8em;
  font-size: 1rem;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  padding: 0.25em 1em;
  text-decoration: none;
}
